# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
blog/node_modules
nextjs/helpdesk/node_modules
blog/node_modules/*
nextjs/helpdesk/node_modules/*

# dependencies
/node_modules
nextjs/helpdesk/.pnp
nextjs/helpdesk.pnp.js

# testing
nextjs/helpdesk/coverage

# next.js
nextjs/helpdesk/.next/
nextjs/helpdesk/out/

# production
nextjs/helpdesk/build

# misc
nextjs/helpdesk.DS_Store
nextjs/helpdesk*.pem

# debug
nextjs/helpdesknpm-debug.log*
nextjs/helpdeskyarn-debug.log*
nextjs/helpdeskyarn-error.log*

# local env files
nextjs/helpdesk.env*.local

# vercel
nextjs/helpdesk.vercel

# typescript
nextjs/helpdesk*.tsbuildinfo
nextjs/helpdesknext-env.d.ts
